.kanban_head {
  text-align: center;
  padding: 20px;
}
.kanban_head input {
  width: 200px;
  padding: 5px;
  margin: 0 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  outline: none;
}
.kanban_head input:focus {
  border: 1px solid #000;
}
.kanban_head button {
  padding: 5px;
  cursor: pointer;
}
.kanban_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: coral;
}
